<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/assets/favicon.png">
    <title>ZabiTube</title>
    <link rel="stylesheet" href="/Stylesheets/style.css">
    <link rel="stylesheet" href="/Stylesheets/login.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Sign in to your account</h2>
        </div>
        
        <form action="/login" method="post">
            <label for="email">username:</label>
            <input type="text" id="email" name="username" placeholder="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="password" required>

            <p class="error"><%= error %></p>
            
            <button type="submit" class="button">Login</button>
        </form>
        
        <p class="signup-link">Don't have an account? <a href="/register">Sign up</a></p>
    </div>
</body>
</html>