<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/assets/favicon.png">
    <title>ZabiTube</title>
    <link rel="stylesheet" href="/Stylesheets/style.css">
    <link rel="stylesheet" href="/Stylesheets/register.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="/assets/Zabi Tube-01.png" alt="YouTube Logo">
            <h2>Create your account</h2>
        </div>

        <form action="/Register" method="post">
            <label for="fullname">Your Name:</label>
            <input type="text" id="fullname" name="fullname" placeholder="Enter your name" required>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="username" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter password" required>

            <p class="terms">By clicking "Next", you agree to the <a href="#">Terms</a> and <a href="#">Privacy
                    Policy</a>.</p>

            <button type="submit">Register</button>
        </form>

        <p class="signin-link">Already have an account? <a href="/">Sign in</a></p>
    </div>
</body>

</html>